<?xml version="1.0" encoding="UTF-8"?>
<!-- Bean头部 -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-autowire="byName" default-lazy-init="true">

    <!--<import resource="job.xml"/>-->

    <context:property-placeholder location="classpath:/config/jdbc/jdbc.properties"/>
    <context:annotation-config/>

    <!-- 注解扫描包 -->
    <context:component-scan base-package="com.rolex.igeek.search.chord,com.rolex.common,com.rolex.*.dao"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${driverClassName}"></property>
        <property name="url" value="${url}"></property>
        <property name="username" value="${username}"></property>
        <property name="password" value="${password}"></property>
        <property name="initialSize" value="${initialSize}"></property>
        <property name="maxActive" value="${maxTotal}"></property>
        <property name="maxIdle" value="${maxIdle}"></property>
        <property name="minIdle" value="${minIdle}"></property>
    </bean>

    <!-- spring mail -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host">
            <value>smtp.qq.com</value>
        </property>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
            </props>
        </property>
        <property name="username">
            <value>151251771@qq.com</value>
        </property>
        <property name="password">
            <value>1111111</value>
        </property>
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${dialect}</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
        <!-- 指定映射文件 / 类 -->
        <property name="annotatedClasses">
            <list>
                <value>com.rolex.igeek.po.Video</value>
                <value>com.rolex.igeek.po.Audio</value>
                <value>com.rolex.igeek.po.Chord</value>
                <value>com.rolex.igeek.po.Sang</value>
                <value>com.rolex.igeek.po.Score</value>
                <value>com.rolex.igeek.po.ScorePage</value>
                <value>com.rolex.igeek.po.Category</value>
                <value>com.rolex.igeek.po.Key</value>
                <value>com.rolex.system.po.Menu</value>
                <value>com.rolex.system.po.User</value>
                <value>com.rolex.system.po.Dict</value>
            </list>
        </property>

    </bean>
    <bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="txManager"/>

    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>messages</value>
            </list>
        </property>
    </bean>
    <!-- 获取本地 -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver"/>

</beans>